.igra{
    display: flex;
    margin-left: 15em;
    margin-top: 2em;
    flex-direction: row;
}


.redovi{
    display: flex;
    justify-self: left;
    flex-direction: column;
}

#resenje{
    margin-top: 3em;
    margin-bottom: 3em;
}

.dugmad{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 20em;
    border: solid 1.5pt rgb(168, 166, 166);
    padding: 1em;
    justify-content: center;
    align-content: center;
    margin-left: 10em;
    height: 10em;
    max-width: 220px;
    min-width: 220px;
    margin-top: 3em;
}

.rezultatPokusaja{
    border: solid 1pt rgb(168, 166, 166);
    background-color: rgb(252, 250, 250);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.1em;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-basis: 64px;
    flex-wrap: wrap;
}
.rezultatPolje{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 3px;
}

